{{> head title="Sobre" description="Harold app default theme" }}

<div class="container page-container">
  <article class="page-content">
    <h1 class="page-content-title">Sobre a Agenda</h1>
    <div>
      <p>
        A agenda ainda está em desenvolvimento.
      </p>
      </p>
    </div>
  </article>
</div>

{{> footer}}