{{> head title="Autora" description="Harold app default theme" }}

<div class="container page-container">
  <article class="page-content">
    <h1 class="page-content-title">Autora</h1>
    <div>
      <p>
        A autora é aluna de Sistemas de Informação na Universidade do Estado do Amazonas.
      </p>
    </div>
  </article>
</div>

{{> footer}}