{{> head
  title="Introdução à Agenda"
  description="Agenda de mps"
  ogTitle="Agenda Homepage"
  ogDescription="Descrição da agenda"
  ogImage=""
  twitterTitle="Harold Homepage"
  twitterDescription="Harold Description"
  twitterImage=""
}}

  <div class="container page-section-featured">
    {{postsList
    perPageLimit=1
    currentPage=1
    className="homepage-featured-post"
    dateFormat="dd mmmm yyyy"
    noTags=true
    noExcerpt=true
    noDate=true
    byTagName="Introdução"
    readMoreButtonLabel="Venha conhecer!"
    }}
  </div>

  <div class="homepage-section homepage-section-bg">
    <div class="container">
      <h1 class="homepage-header">Requisitos</h1>
      {{postsList
      perPageLimit=10
      currentPage=1
      className="post-list-items"
      dateFormat="dd mmmm yyyy"
      byTagName="Documentos"
      readMoreButtonLabel="&#8674;"
      }}
    </div>
  </div>

  <div class="homepage-section">
    <div class="container">
      <h1 class="homepage-header">Análise e Projeto </h1>
      {{postsList
      perPageLimit=3
      currentPage=1
      className="post-list-items"
      dateFormat="dd mmmm yyyy"
      byTagName="Análise e Projeto"
      readMoreButtonLabel="&#8674;"
      }}
    </div>
  </div>

  <div class="container home-see-all-posts">
    <a href="{{relativePath 'all-posts-list.html'}}" class="button">See all posts</a>
  </div>

{{> footer}}
