{{> head title="Projetos" description="Harold app default theme" }}

<div class="container page-container">
  <article class="page-content">
    <h1 class="page-content-title">Projetos</h1>
    <div>
      <p>
        Por enquanto, o meu único projeto em desenvolvimento é o sistema da agenda.
      </p>
    </div>
  </article>
</div>

{{> footer}}